/* main > h2:nth-of-type(3) {
  background: slategray;
}
main > h2:nth-of-type(even) {
  background: slategray;
}
main > h2:nth-of-type(odd) {
  background: khaki;
} */
main > h2:last-of-type{
  background: hotpink;
}
main > h2:first-of-type{
  background: khaki;
}